* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

html,
body,
main {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135.02deg, #628E75 0.66%, #1A4855 83.32%);

}





@media screen and (min-width: 320px) {


    .content-body {
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 50px;
        height: 50%;

    }

    header {
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: 10px;
        margin-bottom: 80px;
    }

    .content-social-network ul,
    li {
        list-style-type: none;
        display: flex;
        padding-left: 20px;
        padding-top: 10px;

    }

    .social-network {
        height: 20px;
        width: 20px;
    }

    .content-img-chihiro {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .img-chihiro {
        height: 250px;
        width: 250px;
    }

    .content-text {
        width: 300px;
        padding: 10px;
        padding-bottom: 20px;
    }

    h3 {
        font-size: 15px;
        padding-bottom: 10px;
    }

    h1 {
        font-size: 25px;
        padding-bottom: 10px;
    }

    p {
        font-size: 15px;

    }

    .content-actions {
        padding-left: 20px;
        display: grid;
        align-content: center;
        justify-content: start;


    }



    .content-button-watch-trailer {
        display: none;
    }



    .button-watch-now {
        background-color: #658E76;
        transform: skew(-24deg);
        height: 40px;
        width: 180px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-button,
    .label-button {
        transform: skew(24deg);

    }

    .icon-button {
        margin-right: 10px;
    }
}


@media screen and (min-width: 992px) {


    header {
        height: 100px;
        margin-bottom: 80px;
    }

    .logo {
        width: 150px;
    }

    .content-social-network ul,
    li {
        margin-left: 30px;
        margin-top: 10px;
    }

    .social-network {
        height: 30px;
        width: 30px;
    }

    .content-body {
        
        display: grid;
        grid-template-columns: 50% 50%;
        flex-direction: row-reverse;
        justify-content: center;
        align-content: center;
        margin: 0;
    }

    .img-chihiro {
        height: 400px;
        width: 400px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
    }


    .content-text {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 0;
        width: 500px;


    }

    .content-actions {
        display: flex;
    }

    .content-text,
    .content-actions {
        padding-left: 80px;
    }

    .content-button-watch-trailer {
        display: flex;
        margin-left: 20px;
    }

    .button-watch-trailer {
        background: transparent;
        border: 3px solid #658E76;
        transform: skew(-24deg);
        height: 50px;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button-watch-now {
        height: 50px;
        width: 180px;
    }

}

@media screen and (min-width:1200px) {
    header {
        margin-bottom: 10px;
    }

    .content-body {
        height: 65%;
    }

    
    .img-chihiro {
        height: 500px;
        width: 500px;
    }

    .content-text {
        padding-bottom: 0;
        display: grid;
        align-content: center;
        justify-content: center;
    }

    h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 10px;
    }

    p {
        font-size: 20px;
        margin-bottom: 0;
    }

    .content-actions {
        padding-bottom: 20px;
    }
}